<section class="advantages section">
  <div class="container">
    <h2 hidden>advantages</h2>
    <div class="box-a">
      <ol class="advantages-list">
        <li class="advantages-item1">
          <hr class="line-item" />
          <p class="text text">
            Swimming and water sports: try your <br class="br1" />
            hand <br class="br2" />at water skiing
          </p>
        </li>
        <li class="advantages-item2">
          <hr class="line-item" />
          <p class="text text2">Fishing: try to catch your own dinner</p>
        </li>
        <li class="advantages-item3">
          <hr class="line-item" />
          <p class="text text3">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="advantages-item4">
          <hr class="line-item" />
          <p class="text text4">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>
      <div class="yacht-interior-image">
        <picture>
          <source
            srcset="
              /img/advantages/yacht-interior-img-@1x.jpg,
              /img/advantages/yacht-interior-img-@2x.jpg
            "
          />
          <img class="yacht-img-delta" alt="Yacht interior" />
        </picture>
      </div>
    </div>
  </div>
</section>
