<section class="rent section" id="rent">
  <div class="container">
    <div class="rent-section-full">
      <div class="working-part">
        <h2 class="rent-section-title">Rent a yacht now</h2>
        <form class="rent-form">
          <div class="rent-input-fields-container">
            <input
              class="rent-input-fields"
              type="text"
              name="input-name"
              placeholder="Full name"
              pattern="[A-Za-z\s]+"
              required
            />
            <input
              class="rent-input-fields"
              type="email"
              name="input-email"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
            <input
              class="rent-input-fields"
              type="tel"
              name="input-tel-number"
              placeholder="Phone number"
              pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
              required
            />
            <textarea
              class="textarea-field"
              name="textarea-user-comment"
              id="user-comment"
              placeholder="Comment"
              minlength="10"
              required
            ></textarea>
          </div>
          <button class="btn primary-btn" type="submit">Send</button>
        </form>
      </div>
      <picture class="rent-picture">
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/rent-yacht/yacht-img-@1x.jpg,
            ../img/rent-yacht/yacht-img-@2x.jpg 2x
          "
        />
        <source
          class="img-1280"
          media="(min-width: 1280px)"
          srcset="
            ../img/rent-yacht/yacht-img-@1x.jpg,
            ../img/rent-yacht/yacht-img-@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/rent-yacht/yacht-img-@1x.jpg,
            ../img/rent-yacht/yacht-img-@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 335px)"
          srcset="
            ../img/rent-yacht/yacht-img-@1x.jpg,
            ../img/rent-yacht/yacht-img-@2x.jpg 2x
          "
        />
        <img
          class="rent-img"
          srcset="../img/rent-yacht/yacht-img-@1x.jpg"
          alt="Photo of the yacht"
        />
      </picture>
    </div>
  </div>
</section>
